.layout{
      width: 100%;
      max-width: 750px;
      min-width: 300px;
      margin: 0 auto;
      position: relative;
      height:100%;
}
.padding{
	 padding-left:0.9375rem;
	 padding-right:0.9375rem;
 }
  .title p{
    font-size:25px;
    color:#333333;
    margin-top:52px;
    margin-bottom:54px;
  }
  .title span{
    display: block;
    border-bottom:1px solid #d8d8d8;
    width:44px;
    margin-bottom:49px;
  }
 .inviter{
     max-width: 750px;
      min-width: 300px;
    width: 100%;
    height: 14.625rem;
    margin-bottom:1.25rem;
   margin:0 auto;
  }
  .inviter img{
     width: 100%;
     height: 100%;
  }
  .inviter{
            
          }
  .item{
  	width:21.5625rem;
    height:8.4375rem;
  	margin-bottom:1.25rem;
    margin-top:0.9375rem;
  }
  .item img{
  	width:21.5625rem;
  	height:8.4375rem;
  }
  .item .xq img{
    width:1.5625rem;
   height:1.5625rem;
   border-radius: 0.78125rem;
   vertical-align: middle;
  }
  .tel,.check{
  	border:1px solid #999999;
    border-radius:0.25rem;
    width:13.5rem;
    height:2.375rem;
    margin-bottom:1.25rem;
    margin-right: 1.0625rem;
    padding-left:0.9375rem;
    font-size:0.9375rem;
    color:#999999;
    line-height: 2.375rem;
  }
  .button1{
  	
    border-radius:0.25rem;
    width:6.75rem;
    height:2.375rem;
    font-size:0.9375rem;
   
   line-height:2.375rem;
   background: #ffffff;
  }
  .color{
    border:1px solid #ff5858;
    color:#ff5858;
  }
  .color1{
    border:1px solid #999999;
    color:#999999;
  }
  .button2{
  	background:#ff5858;
    border-radius:0.25rem;
    width:6.875rem;
    height:2.5rem;
    line-height: 2.5rem;
    font-size:0.9375rem;
   color:#ffffff;
  }
  .download{
	width: 100%;
	height:4.375rem;
    margin-top: -0.25rem;
    padding: 1.0625rem 0.8125rem 0 0.9375rem;
    position:fixed;
	left:0;
	bottom:0;
  background: #ffffff;
}

.shadow{
	box-shadow: 1px 1px 0.3125rem #333333;
}
.download img{
	width: 2.625rem;
	height: 2.625rem;
	margin-right: 0.625rem;
}
.download p{
	font-size: 0.875rem;
	color: #333333;
}
.download>.fr{
	color:#ff5858;
	font-size: 0.875rem;
	border:1px solid #ff5858;
	width: 6.875rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	border-radius: 6.25rem;
}
.download a{
	color:#ff5858;
	width: 6.875rem;
	height: 2.375rem;
}
.cover1{
background:rgba(0,0,0,.7);
width:23.4375rem;
height:54.6875rem;
position:absolute;
top:-15.5625rem;
left:0;
z-index: 100;
display:none;
}
.cover{
	 background:#ffffff;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.50);
    width:15.625rem;
    height:15.625rem;
    position:absolute;
    left:3.9375rem;
    top:22rem;
    text-align:center;
}
.cover .title{
font-size:1.25rem;
color:#333333;
margin-top:4.6875rem;
margin-bottom:1.5625rem;
}
.content{
	font-size:0.9375rem;
color:#333333;
margin-bottom:3.125rem;
}
.load_{
	background:#ff5858;
width:15.625rem;
height:2.5rem;
line-height:2.5rem;
font-size:1.125rem;
color:#ffffff;
}
.rule{
  padding:1.1875rem 0.9375rem 0 0.9375rem;
  color:#333333;
}
.r_title{
  margin-bottom:0.9375rem;
  font-size:0.9375rem;
}
.rule p{
  font-size: 0.75rem;
}
.item{
  position:relative;
}
.price{
  position:absolute;
  color:#ff5858;
  top:1.25rem;
  left:1.4375rem;
}
.price span{
  font-size:0.9375rem;
}
.price .p_1{
 font-size:4.375rem;
}
.xq{
  font-size:0.75rem;
  position:absolute;
  top:2.25rem;
  right:2.1875rem;
  color:#ff5858;
}
.xq p{
  margin-bottom:0.125rem;
}
.xq_t{
  font-size:0.9375rem;
}
